exportPattern("^[[:alpha:]]+")
importFrom(spikeslab,spikeslab)
importFrom(ggdag,dagify)
importFrom(ggdag,ggdag)
importFrom(SSVS,ssvs)
importFrom(stats,as.formula)
importFrom(grDevices,pdf)
importFrom(grDevices, dev.off)
importFrom(stats, setNames)
